.header {
    background-color: silver;
}
body{
    background-color: aliceblue;
    align-items: center;
    font-style: italic;
    box-decoration-break: slice;
}
button{
    /* display: flex; */
    justify-content: space-evenly;
    
}